name: docker-postgres  
version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-global
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: moodjournal
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer-postgres
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data:
